    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
    <html lang="pl">

    <head>
        <title>HTML_CodeSniffer - wydanie polskie</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="Shortcut Icon" href="images/favicon.png">
        <link rel="stylesheet" type="text/css" href="css/home.css">
        <link rel="stylesheet" type="text/css" media="print" href="css/home-print.css">
        <link rel="stylesheet" media="screen" type="text/css" href="./build/HTMLCS.css">

        <script type="text/javascript" src="./build/HTMLCS.js"></script>
        <script type="text/javascript" src="./home.js"></script>
        <script type="text/javascript" src="./jquery-1.8.0.min.js"></script>
		<script src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>		

<script type="text/javascript">
smoothscroll.polyfill(); 

function scrollToElement(element) {
    element.scrollIntoView({
        behavior: 'smooth',
        block: 'start'
    });
}
</script>		
		
         <!--        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-359178-16']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script> -->
		
<meta property="og:title" content="HTML_CodeSniffer - wydanie polskie | Polska Izba Rzemiosła Dostępnościowego" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.irdpl.pl/HTML_CodeSniffer/" />
<meta property="og:site_name" content="HTML_CodeSniffer - wydanie polskie " />
<meta property="og:image" content="https://www.irdpl.pl/HTML_CodeSniffer/images/html_codesniffer.png" />
<meta property="og:image:alt" content="HTML_CodeSniffer - wydanie polskie" />
<meta property="og:image:width" content="1000" />
<meta property="og:image:height" content="600" />
<meta property="og:description" content="HTML_CodeSniffer sprawdza kod źródłowy HTML i wykrywa naruszenia WCAG 2.1." />		
		
		
		
    </head>
    <body>

        <div id="back-to-top" class="off">
        <span><a href="#">góra</a></span>
        </div>

        <div id="fork-me">
        <a href="https://www.irdpl.pl/HTML_CodeSniffer" id="git"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Rozwidlij na GitHubie"></a>
        </div>

        <div id="header">
            <div class="max-width">
                <h1>HTML_CodeSniffer - wydanie polskie</h1>
            </div>
        </div>

        <div id="sub-header">

        </div>

        <div id="introduction">
            <div class="max-width">
                <div id="content">
                    <h2>Sprawdź, czy Twój kod HTML jest zgodny ze standardem kodowania</h2>

                    <p>HTML_CodeSniffer to skrypt, który sprawdza kod źródłowy HTML i wykrywa naruszenia zdefiniowanego standardu kodowania. HTML_CodeSniffer jest napisany w całości w JavaScript, nie wymaga żadnego przetwarzania po stronie serwera i może być rozszerzony przez programistów w celu wymuszenia własnych standardów kodowania poprzez tworzenie własnych „sniffów”.</p>
					<p>Autorem HTML_CodeSniffer jest australijska firma <a href="https://github.com/squizlabs/HTML_CodeSniffer">Squiz Labs</a>.</p>
					<p>Zdecydowaliśmy się na wydanie polskie, bo oryginalna wersja, choć istnieje polskie tłumaczenie, nie działa zgodnie z oczekiwaniami - wyniki wyświetlane są w języku angielskim. 				
					
					<p>Na początek HTML_CodeSniffer zawiera standardy, które weryfikuiją trzy poziomy zgodności z <a href="https://www.w3.org/Translations/WCAG21-pl/"> Wytycznymi dla dostępności treści internetowych (WCAG) 2.1</a> oraz związane z Internetem komponenty 
                    <a href="https://www.section508.gov/">amerykańskiego prawodawstwa „Sekcja 508”</a>.
                  Skryptozakładka zapewnia interfejs audytora, który umożliwia ci wykonanie tych testów dostępności na dowolnej stronie internetowej..</p>

                    <span class="introduction-divider"></span>

   <!--                 <div id="standards-list">

                    <h3 class="dark-heading">Wykaz standardów i zasięg analizy</h3>

                    <map name="Wykaz pokrycia">
                        <ul>
                            <li><a href="Standards/WCAG2">WCAG 2.1 (Poziom A, AA, AAA)</a></li>
                            <li><a href="Standards/Section508">Sekcja 508</a></li>
                        </ul>
                    </map>

                    </div> -->

                </div>

                <div id="bookmarklet">
                    <h2 class="screen-hide">Skryptozakładka WCAG 2.1/Sekcja 508</h2>
                    <div id="bookmarklet-feature"></div>

                    <div id="issueCounterWrap" style="display:none;">
                        <span class="statsHeading">Problemy wykryte przez zakładkę:</span>
                        <div id="issueCounter" class="statsCounter"></div>
                    </div>

                    <script type="text/javascript">
                        jQuery(document).ready(function($) {
                            loadHTMLCSStats(function(stats) {
                                var formatNumber = function(number) {
                                    var regex = /(\d+)(\d{3})/;
                                    number += '';
                                    while (regex.test(number)) {
                                        number = number.replace(regex, '$1,$2');
                                    }

                                    return number;
                                }

                                $('#issueCounterWrap').css('display', 'block');

                                var count = stats.errors + stats.warnings + stats.notices;

                                $('#issueCounter').html(formatNumber(count));
                                setInterval(function() {
                                    $('#issueCounter').html(formatNumber(++count));
                                }, (1000 * stats.errorSeconds));

                                setInterval(function() {
                                    $('#issueCounter').html(formatNumber(++count));
                                }, (1000 * stats.warningSeconds));

                                setInterval(function() {
                                    $('#issueCounter').html(formatNumber(++count));
                                }, (1000 * stats.noticesSeconds));
                            });
                        });
                    </script>

                    <div class="button" onclick="alert('Przeciągnij na pasek zakładek przeglądarki, aby zainstalować. Po zainstalowaniu, można uruchomić skryptozakładkę na dowolnej stronie.'); return false;">
                        <a id="add-bookmarklet" onmousedown="_gaq.push(['_trackEvent', 'Viper', 'bookmarklet.clicked']);" href="javascript:(function() {var _p='//www.irdpl.pl/HTML_CodeSniffer/build/';var _i=function(s,cb) {var sc=document.createElement('script');sc.onload = function() {sc.onload = null;sc.onreadystatechange = null;cb.call(this);};sc.onreadystatechange = function(){if(/^(complete|loaded)$/.test(this.readyState) === true){sc.onreadystatechange = null;sc.onload();}};sc.src=s;if (document.head) {document.head.appendChild(sc);} else {document.getElementsByTagName('head')[0].appendChild(sc);}}; var options={path:_p};_i(_p+'HTMLCS.js',function(){HTMLCSAuditor.run('WCAG2AA',null,options);});})();"><span class="screen-hide">HTML_CodeSniffer</span></a>

                        <div id="button-title">Pobierz <strong>zakładkę Audytor dostępności</strong><br>
                        <span class="button-ins">Przeciągnij to łącze na pasek zakładek swojej przeglądarki</span>
                        </div>
                    </div>

                    <div class="requirements">Ta zakładka została zaprojektowana do pracy z Google Chrome, Firefox, Safari i Internet Explorer.
                    </div>
                </div>
             </div><!-- end max-width -->

             <div class="zigzag"></div>
         </div> <!-- end introduction -->

         <div id="test-area">

            <div class="max-width">
                <h3>Przeanalizuj swój kod za pomocą Sniffera</h3>

                <p>Uruchom HTML_CodeSniffer na własnym kodzie, aby zobaczyć jak działa. Poniższy sniffer przetestuje Twój kod źródłowy pod kątem wybranej wytycznej.<br>
                Wyniki testu będą widoczne pod blokiem kodu.</p>
				
				 


                <div id="code-input">
                    <form id="runHTMLCS" action="" onsubmit="javascript:runHTMLCSTest(false); return false;">
                        <div id="code-overlay" onclick="hideDiv()">
                            <div id="test-area-graphic"></div>Wklej tutaj swój kod
                        </div>

                        <textarea id="source" title="Wpisz kod źródłowy, który ma być przeanalizowany." rows="20" cols="100"></textarea>

                        <div id="test-options">
                            <fieldset>
                                <legend>Standardy:</legend>
                            <ul>
                                <li><input type="radio" value="WCAG2A" name="level" id="WCAG2A" class="radio-input"><span class="radio-gen"></span><label for="WCAG2A"> WCAG 2.1 Poziom A</label></li>

                                <li><input type="radio" value="WCAG2AA" name="level" id="WCAG2AA" class="radio-input"><span class="radio-gen"></span><label for="WCAG2AA"> WCAG 2.1 Poziom AA</label></li>

                                <li><input type="radio" value="WCAG2AAA" name="level" id="WCAG2AAA" class="radio-input" checked><span class="radio-gen radio-on"></span><label for="WCAG2AAA"> WCAG 2.1 Poziom AAA</label></li>

                                <li><input type="radio" value="Section508" name="level" id="Section508" class="radio-input"><span class="radio-gen"></span><label for="Section508"> Sekcja 508</label></li>
                            </ul>
                            </fieldset>

                            <button type="submit" id="run-button" class="test-options-disabled">Uruchom HTML_CodeSniffer</button>

                        </div>
                    </form>


                </div> <!-- close code-input -->

                    <div id="resultsWrapper">

                </div> <!-- close #test-results -->
            </div> <!-- close .max-width -->


        </div> <!-- close #text-area -->

        {% include footer.html %}
    </body>
    </html>
